* {
  font-family: monospace;
}

a {
  font-size: 1.5em;
}

/* Common Styles */
.App,
.extra-content,
.BookLayout,
.BookList,
.Book,
.NewBook,
.RussianBook {
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}
.BookList,
.Book {
  height: 50%;
}

/* Extra Content */

.extra-content {
  background-color: yellow;
  border: 5px dashed red;
}

/* App Component */

.App {
  background-color: lightblue;
  height: 95vh;
}

.homepage__nav {
  background-color: lightskyblue;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

/* BookLayout Component */
.BookLayout {
  background-color: lightpink;
}

/* BookList Component */
.BookList {
  background-color: lightseagreen;
}

/* Book Component */

.Book {
  background-color: lightyellow;
}

.book__img {
  width: 50px;
  height: 50px;
}

/* RussianBook Component */

.RussianBook {
  background-color: lightcyan;
}

/* NewBook Component */

.NewBook {
  background-color: lightcoral;
}
